<% include partials/header %>

<h1>Login Page</h1>

<form action="/login" method="POST">
    UserName:<input type="text" name="username" placeholder="Username">
    Password:<input type ="password" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>

<% include partials/footer %>