<% include partials/header %>
Sign Up

<form action="/register" method="POST">
    UserName:<input type="text" name="username" placeholder="User Name">
    Password:<input type="text" name="password" placeholder="Password">
    <button type="submit">Submit</button>
    
</form>
<% include partials/footer %>